body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url('https://raw.githubusercontent.com/nohxxx/NebulaHUB/main/img/bkg.png');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    margin: 0;

    -webkit-user-select: none; 
    -moz-user-select: none;    
    -ms-user-select: none;     
    user-select: none;
}

.container {    /*Quadrado Central*/
    text-align: center;
    background-color: rgba(37, 33, 33, 0.5);
    padding: 20px;
    margin-top: 180px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    width: 1000px;
    height: 400px;
    position: relative;
    flex-grow: 1;	
    border-radius: 25px;
    margin-bottom: 20px;

    display: flex;            /* Flexbox para centralizar o conteúdo */
    flex-direction: column;   /* Alinhar o conteúdo em coluna */
    justify-content: center;  /* Centralizar verticalmente */
    align-items: center;      /* Centralizar horizontalmente */
}

h1 {
    color: #ccc7c7;
    margin-bottom: 10px;
    font-size: 40px;
}

h2 {
    color: #ebebeb;
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 30px;
}

h2#Contato {
    font-size: 20px;
}

p {
    color: #fffefe;
}

.server {
    margin-bottom: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.connect-button {     /*Estilização do botão de conectar*/
    background-color: #5592d4;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

.connect-button:hover {     
    background-color: #0056b3;
}

.coming-soon-button {       /*Estilização do botão de Em breve!*/
    background-color: #6c757d;
    color: white;
    border: none;
    cursor: not-allowed;
}

.coming-soon-button:hover {     
    background-color: #929394;
}

.connect-button, .coming-soon-button {
    margin-bottom: 5px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
}

.buttons-container {
    position: fixed;
    top: 20px; 
    right: 20px; 
    display: flex;
    gap: 10px; 
}

.steam-button, .discord-button, .sbans-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 40px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

.steam-button {
    position: absolute;
    top: 67px;
    left: calc(100% - 170px); 
    background-color: #1b2838;
}

.discord-button {
    position: absolute;
    top: 67px;
    left: calc(100% - 110px); 
    background-color: #9cace4;
}

.sbans-button {
    position: absolute;
    top: 67px;
    left: calc(100% - 230px); 
    background-color: #282829;
}

.steam-button svg, .discord-button svg {
    width: 24px;
    height: 24px;
}

.sbans-button img{
    display: block;
    margin: auto;
    width: 37px;
    height: 41px;   
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%; 
    position: absolute;
    top: 15px;
    padding: 10px 0; 
}

.title-letter {
    height: 10vh; 
    margin-right: 10px; 
}

.title-text {
    font-size: 10vh; 
    color: #a652ff; 
    font-family: "Roboto Slab", serif;
    font-style: normal;
    font-weight: bold; 
    letter-spacing: 0.1em; 
    text-shadow: 0 0 5px #a652ff, 0 0 10px #8000ff; 
    white-space: nowrap; 
}
.note {     
    font-size: 14px;
    color: #555;
}

footer {
    background-color: rgba(44, 44, 44, 0.781);
    color: #fff;
    padding: 0;
    width: 100%;
    text-align: center;
    position: relative;
    font-size: 0.75rem;
    box-sizing: border-box;
    margin-top: 10px;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 10px;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    text-align: center;
    padding: 0 10px;
}
